body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    text-align: center;
    font-size: 21px;
    font-weight: 300;
}

section {
    padding: 100px 0;
}

.container {
    width: 570px;
    margin: 0 auto;
}

.title-section {
    background-color: #d7d7d7;
}

.desc-section {
    background-color: #ffeaea;
}

.article-section {
    background-color: #eaf9ff;
}

h1,
h2 {
    font-weight: 300;
    margin-top: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding: 20px 0;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

.small-text {
    font-size: 16px;
}

.accent-text,
.name,
time {
    font-weight: 900;
    color: #99d930;
}

.accent-text {
    display: block;
}

h1 .accent-text {
    font-size: 80px;
}

h2.accent-text {
    font-size: 60px;
}

a {
    color: #99d930;
    font-weight: 900;
}

a:hover,
a:focus {
    color: #131313;
}

.dark-mode {
    background-color: #252525;
    color: #fff;
}

.btn {
    background-color: #99d930;
    color: #252525;
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    margin-top: 25px;
}

.btn:hover,
.btn:focus {
    background-color: #252525;
    color: #fff;
}

.dark-mode .btn:hover,
.dark-mode .btn:focus {
    background-color: #fff;
    color: #252525;
}
