body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    text-align: center;
    font-size: 21px;
    font-weight: 300;
}

h1,
h2 {
    font-weight: 300;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
}

.small-text {
    font-size: 16px;
}

.main {
    width: 570px;
    margin: 0 auto;
}
